.wrapper {
    margin: 0 300px 0px 300px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-primary-2);
}

.main {
    position: relative;
    padding-top: 58px;
    background-color: var(--bg-primary-2);
}

@media (max-width: 1024px) {
    .wrapper {
        margin: 0 300px 0px 300px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        margin: 0;
    }
}