.messagesBoxWrapper {
    display: flex;
    position: fixed;
    padding-right: 54px;
    margin-right: 10px;
    bottom: 0;
    right: 0;
    z-index: 99;
    gap: 10px;

}

.messagesBoxSide {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    right: 0;

}

.item {
    cursor: pointer;
    animation: anim .2s;
    height: 48px;
    width: 48px;
    position: relative;

    &:hover &-icon {
        display: block;
    }

    &-icon {
        display: none;
        position: absolute;
        color: white;
        background-color: var(--bg-primary);
        box-sizing: content-box;
        padding: 3px;
        border-radius: 100%;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        transition: all .2s linear;

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.item+.item {
    margin-top: 10px;
}

@keyframes anim {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 320px) {
    .messagesBoxWrapper {
        padding-right: 0;
        margin-right: 0;
    }
}