.wrapper {
    width: 300px;
    overflow: auto;
    height: calc(100vh - 53px);
    position: fixed;
    right: 0;
    // top: 52px;
    background-color: var(--bg-primary-2);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 16px;
    color: var(--text-secondary);
}

@media (max-width: 1024px) {
    .wrapper {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        display: none;
    }
}