.box {
    &Wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 455px;
        width: 328px;
        background-color: var(--bg-primary);
        box-shadow: var(--box-shadow-primary);
        border-radius: 10px 10px 0 0;
        color: var(--text-primary);
    }

    &Top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 1px 2px hsl(0deg 0% 0% / 10%),
            0 -1px #ffffff0d inset,
            0 2px 1px -1px #ffffff0d inset;
        ;

        .online {
            bottom: 7px;
            right: -3px;
        }

    }

    &Main {
        padding: 10px;
        overflow: auto;
        font-size: 15px;
        flex: 1;
        display: flex;
        flex-direction: column;


    }

    &Bottom {
        padding: 10px 5px;
        width: 100%;
        max-height: 140px;
        overflow: auto;
        background-color: var(--bg-primary);
    }
}

.activeTime {
    display: block;
    color: var(--text-secondary);
    font-size: 12px;
}

.inp {
    outline: none;
    border-radius: 20px;
    padding: 5px;
}

.icon-control {
    cursor: pointer;
    color: var(--blue);
    padding: 2px;
    border-radius: 100%;
    box-sizing: content-box;
    transition: background-color .2s linear;
    flex: 1;

    &:hover {
        background-color: var(--secondary);
    }
}

.boxMain-item {
    display: flex;
    z-index: 99;

    &.isLoading {
        opacity: 0.5;
    }

    &:has(.you) {
        justify-content: flex-end;


        .item-control {
            // left: -20%;
            transform: translate(-48px, 50%);
        }
    }

    &:hover .item-control {
        svg {
            visibility: unset;
        }
    }
}

.you,
.yourFriend {
    position: relative;
    z-index: 1;
    max-width: 207px;
    padding: 10px;
    border-radius: 18px;
    color: white;
    margin-top: 10px;
    word-wrap: break-word;
}



.you {
    background-color: var(--bg-text-blue);

}

.yourFriend {
    background-color: var(--bg-text-grey);

    .item-control {
        right: 0;
        transform: translate(48px, 50%);

    }
}

.item-control {
    position: absolute;
    bottom: 50%;

    svg {
        visibility: hidden;

    }

    // background-color: ;
    .icon {
        cursor: pointer;
        box-sizing: content-box;
        padding: 5px;
        border-radius: 100%;
        transition: background-color .2s linear;

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.icon-sent {
    color: var(--tertiary);
    align-self: flex-end;
    margin-left: 5px;
}

.time {
    color: var(--tertiary);
    margin: 0 auto;
    font-size: 13px;

}

.modal {
    min-width: 100px;
    top: -100%;
    transform: translate(0%, -50%);
    padding: 5px;

    &::after {
        display: none;
    }
}

.deleted {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid var(--bg-text-grey);
    color: var(--text-secondary);
    background-color: unset;
}