.container {
    position: fixed;
    top: 0;
    z-index: 99999;
    margin-top: 2px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.467);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: var(--text-primary);
        font-weight: 600;
        font-size: 30px;
    }
}